.reveal section img {
  border: 0;
  background: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  text-transform: none;
}

.reveal .attribution {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 15px;
  display: inline-block;
  position: absolute;
  top: 5px 5px;
}

#attribution {
  position: absolute;
  top: 0;
  right: 0;
  z-index:500;
  padding: 0;
  display: none;
  text-align: right;
  line-height: 1.6em;
}

.show-header #attribution {
  display: block;
  margin-top: 5px;
  background: #000;
  opacity: 0.65;
  padding: 0.25em 0.5em;
  font-size: medium;
}

h2.heading {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(22,22,22,1);
  padding: 0.5em 2em;
  display: inline-block;
}

h2.heading.invert {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}
